In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
from sklearn import metrics
from sklearn.linear_model import LinearRegression

In [2]:
df = pd.read_csv("C:\\Users\\taylo\\Desktop\\GA\\DSI_Assignments_New\\Steppingstone\\Steppingstone.csv")

In [ ]:
df.head()

In [4]:
df.head()

,Student ID,Race,Gender,Income Range,1st Gen College Student?,ISEE MA Stanine,ISEE QR Stanine,ISEE RC Stanine,ISEE VR Stanine,MCAS English Level,MCAS Math Level,English Grade,Math Grade
0,1,Black,M,2,1,3,5,8,7,Meeting Expectations,Partially Meeting Expectations,3.4,3.0
1,2,Asian,F,1,1,6,5,5,4,Meeting Expectations,Exceeding Expectations,3.0,3.3
2,3,Black,F,2,0,4,3,4,5,Meeting Expectations,Meeting Expectations,3.7,3.7
3,4,Asian,M,1,1,4,3,4,1,Partially Meeting Expectations,Meeting Expectations,2.6,3.0
4,5,Asian,F,1,1,6,5,2,4,Meeting Expectations,Meeting Expectations,3.0,2.7

In [6]:
df.isnull().sum().sum()

0

In [7]:
df.dtypes

Student ID                    int64
Race                         object
Gender                       object
Income Range                  int64
1st Gen College Student?      int64
ISEE MA Stanine               int64
ISEE QR Stanine               int64
ISEE RC Stanine               int64
ISEE VR Stanine               int64
MCAS English Level           object
MCAS Math Level              object
English Grade               float64
Math Grade                  float64
dtype: object