## Week 11, Lab 1: SQL Practice

> Author: Matt Brems

In this lab, you're going to have ten prompts. Each prompt will require you to do two things:
1. Write a SQL query.
2. Use the result of that query to answer the question.

The purpose of this lab is to get you to practice your SQL - an **important** skill in data science! While it is possible to get these answers using Pandas, it should be your goal to do everything only in SQL.

**Data**: The data used in this lab is the famous (but fake) Northwind database. It contains various tables of transactions. The schema for the Northwind database can be found [here](http://www.zentut.com/wp-content/uploads/downloads/2013/06/Northwind-Sample-Database-Diagram.pdf).

In [ ]:
!pip install psycopg3

In [ ]:
import psycopg2

In [40]:
import pandas as pd
from sqlalchemy import create_engine

engine = create_engine('postgres://jlpmxjkftcsepc:bb9cd75e6659d7d67ee3b86be0f905069319c75bd6823d786c808dd799ea85a2@ec2-54-227-251-33.compute-1.amazonaws.com:5432/d9teltkv30dni7')

### Prompt 1

How many rows are there in the `customers` table of the Northwind database?

In [5]:
# Use a SQL query to find the answer to the above prompt.
engine.dispose()

sql = """
SELECT COUNT(*)
FROM customers
"""

display(pd.read_sql_query(sql, engine))
engine.dispose()

   count
0     91

**Prompt 1 Answer**: 91

### Prompt 2

If you sort the customers in alphabetical order by name, which customer is fourth?

In [8]:
# Use a SQL query to find the answer to the above prompt.
engine.dispose()

sql = """
SELECT contact_name
FROM customers c
ORDER BY c.contact_name ASC
"""

display(pd.read_sql_query(sql, engine))
engine.dispose()

               contact_name
0          Alejandra Camino
1           Alexander Feuer
2         Anabela Domingues
3              Ana Trujillo
4             André Fonseca
5                 Ann Devon
6            Annette Roulet
7            Antonio Moreno
8                 Aria Cruz
9        Art Braunschweiger
10         Bernardo Batista
11           Carine Schmitt
12          Carlos González
13         Carlos Hernández
14          Catherine Dewey
15       Christina Berglund
16            Daniel Tonini
17               Diego Roel
18        Dominique Perrier
19         Eduardo Saavedra
20          Elizabeth Brown
21        Elizabeth Lincoln
22         Felipe Izquierdo
23          Francisco Chang
24              Fran Wilson
25       Frédérique Citeaux
26              Georg Pipps
27         Giovanni Rovelli
28      Guillermo Fernández
29               Hanna Moos
..                      ...
61          Matti Karttunen
62          Maurizio Moroni
63             Michael Holz
64     Miguel Angel Paolino
65              Palle Ibsen
66            Paolo Accorti
67         Pascale Cartrain
68         Patricia McKenna
69         Patricio Simpson
70            Paula Parente
71             Paula Wilson
72             Paul Henriot
73             Pedro Afonso
74            Peter Franken
75            Philip Cramer
76         Pirkko Koskitalo
77           Renate Messner
78            Rene Phillips
79              Rita Müller
80            Roland Mendel
81         Sergio Gutiérrez
82           Simon Crowther
83             Sven Ottlieb
84             Thomas Hardy
85        Victoria Ashworth
86                Yang Wang
87            Yoshi Latimer
88          Yoshi Tannamuri
89           Yvonne Moncada
90  Zbyszek Piestrzeniewicz

[91 rows x 1 columns]

**Prompt 2 Answer**: 3	Ana Trujillo

### Prompt 3

Among those customers who live in Germany, if you sort the customers in alphabetical order by name, which customer is fourth?

In [13]:
# Use a SQL query to find the answer to the above prompt.

engine.dispose()

sql = """
SELECT contact_name
FROM customers c
WHERE country ILIKE '%%Germany%%'
ORDER BY contact_name ASC
LIMIT 4
"""

display(pd.read_sql_query(sql, engine))
engine.dispose()

          contact_name
0      Alexander Feuer
1           Hanna Moos
2  Henriette Pfalzheim
3          Horst Kloss

**Prompt 3 Answer**: Horst Kloss

### Prompt 4

From the `employees` table, what are the first names of the individuals who have a birthdate in the 1960s?

In [47]:
#Between 
# Use a SQL query to find the answer to the above prompt.
engine.dispose()

sql = """
SELECT first_name
FROM employees
WHERE birth_date BETWEEN '1-1-1960' AND '12-31-1969'
"""

display(pd.read_sql_query(sql, engine))
engine.dispose()

  first_name
0      Janet
1    Michael
2     Robert
3       Anne

**Prompt 4 Answer**:

### Prompt 5

In `order_details` table of the Northwind database, what is the total number of units sold for products 2, 3, and 4? 
> You should give us three numbers - one for each `ProductID`.

In [35]:
# Use a SQL query to find the answer to the above prompt.

engine.dispose()

sql = """
SELECT SUM(quantity)
FROM order_details
WHERE order_details.product_id = 2
"""

display(pd.read_sql_query(sql, engine))
engine.dispose()

engine.dispose()

sql = """
SELECT SUM(quantity)
FROM order_details
WHERE order_details.product_id = 3
"""

display(pd.read_sql_query(sql, engine))
engine.dispose()

engine.dispose()

sql = """
SELECT SUM(quantity)
FROM order_details
WHERE order_details.product_id = 4
"""

display(pd.read_sql_query(sql, engine))
engine.dispose()

    sum
0  1057

   sum
0  328

   sum
0  453

**Prompt 5 Answer**:

### Prompt 6

From the `order_details` table of the Northwind database, calculate the revenue per product. In your SQL output, rename the revenue column `Revenue` and sort your results from largest revenue per product to smallest revenue per product. Which `ProductID` has the fifth-highest revenue, and what is that revenue rounded to the nearest dollar? 
> Note that revenue for a given product should be equal to the total unit price of that product times the quantity. You do not need to worry about the discount here. If you haven't multiplied columns together before, [this StackOverflow question](https://stackoverflow.com/questions/7536996/multiplying-two-columns-in-sql-server/7537059) may be helpful.

In [55]:
# Use a SQL query to find the answer to the above prompt.
engine.dispose()


sql = """
SELECT order_details."product_id", SUM(order_details."quantity" * order_details."unit_price") AS "Revenue"
FROM order_details
GROUP BY order_details."product_id"
ORDER BY "Revenue" DESC
LIMIT 5
"""

display(pd.read_sql_query(sql, engine))
engine.dispose()

   product_id        Revenue
0          38  149984.200821
1          29   87736.400513
2          59   76296.000000
3          60   50286.000374
4          62   49827.899998

**Prompt 6 Answer**:

### Prompt 7

From the `products` table of the Northwind database, show the `ProductName`, `UnitsInStock`, and `UnitsOnOrder` values for those products who have more units on order than units in stock. Among these results, which product has the most units on order?

In [57]:
sql = """
SELECT product_name, units_in_stock, units_on_order
FROM products
INNER JOIN product_name pn ON pn.product_name = p.id
INNER JOIN units_in_stock s ON s.id = pn.uis_id
INNER JOIN units_on_order o ON o.id = p.uos_id
GROUP BY units_on_order
"""

display(pd.read_sql_query(sql, engine))
engine.dispose()

ProgrammingError: (psycopg2.errors.UndefinedTable) relation "product_name" does not exist
LINE 4: INNER JOIN product_name pn ON pn.product_name = p.id
                   ^

[SQL:
SELECT product_name, units_in_stock, units_on_order
FROM products
INNER JOIN product_name pn ON pn.product_name = p.id
INNER JOIN units_in_stock s ON s.id = pn.uis_id
INNER JOIN units_on_order o ON o.id = p.uos_id
GROUP BY units_on_order
]
(Background on this error at: http://sqlalche.me/e/f405)

**Prompt 7 Answer**:

### Prompt 8

From the `order_details` table, show the products that have an average discount of at least 8%. Among these results, which average discount is closest to 8%?

In [23]:
# Use a SQL query to find the answer to the above prompt.

engine.dispose()

sql = """
SELECT discount 
FROM order_details
INNER JOIN products ON products.id = product.id
GROUP BY discount
HAVING AVG(discount) >= 8
ORDER BY AVG(f.calories) DESC
"""

display(pd.read_sql_query(sql, engine))
engine.dispose()

ProgrammingError: (psycopg2.errors.UndefinedColumn) column products.id does not exist
LINE 4: INNER JOIN products ON products.id = product.id
                               ^

[SQL:
SELECT discount
FROM order_details
INNER JOIN products ON products.id = product.id
GROUP BY discount
HAVING AVG(discount) >= 8
ORDER BY AVG(f.calories) DESC
]
(Background on this error at: http://sqlalche.me/e/f405)

**Prompt 8 Answer**:

### Prompt 9

Return the `orders` table, but also include the first name, last name, and country of the employee assigned to each order. What is the first and last name of the employee assigned to `OrderID` 11077? (This is the last row in the data, provided that you do not sort.)

In [42]:
# Use a SQL query to find the answer to the above prompt.

sql = """
SELECT FirstName, LastName, Country
FROM orders
INNER JOIN orders ON order.id = order.id
ORDER BY orderID DESC


"""

pd.read_sql_query(sql, engine)

ProgrammingError: (psycopg2.errors.SyntaxError) syntax error at or near "order"
LINE 4: INNER JOIN orders ON order.id = order.id
                             ^

[SQL:
SELECT FirstName, LastName, Country
FROM orders
INNER JOIN orders ON order.id = order.id
ORDER BY orderID DESC


]
(Background on this error at: http://sqlalche.me/e/f405)

**Prompt 9 Answer**:

### Prompt 10

Find the average amount of freight across all orders, broken out by country of *employee*. (**NOT `ShipCountry`**.) How much higher is the average freight from UK employees than the average freight from US employees?

> For a bonus, round the freight to the nearest whole number and rename the column `Average Freight`.

In [ ]:
# Use a SQL query to find the answer to the above prompt.

sql = """

"""

pd.read_sql_query(sql, engine)

**Prompt 10 Answer**: