## Week 11, Lab 1: SQL Practice

> Author: Matt Brems

In this lab, you're going to have ten prompts. Each prompt will require you to do two things:
1. Write a SQL query.
2. Use the result of that query to answer the question.

The purpose of this lab is to get you to practice your SQL - an **important** skill in data science! While it is possible to get these answers using Pandas, it should be your goal to do everything only in SQL.

**Data**: The data used in this lab is the famous (but fake) Northwind database. It contains various tables of transactions. The schema for the Northwind database can be found [here](http://www.zentut.com/wp-content/uploads/downloads/2013/06/Northwind-Sample-Database-Diagram.pdf).

In [1]:
#!pip install psycopg3

In [2]:
import psycopg2

In [3]:
import pandas as pd
from sqlalchemy import create_engine

engine = create_engine('postgres://jlpmxjkftcsepc:bb9cd75e6659d7d67ee3b86be0f905069319c75bd6823d786c808dd799ea85a2@ec2-54-227-251-33.compute-1.amazonaws.com:5432/d9teltkv30dni7')

### Prompt 1

How many rows are there in the `customers` table of the Northwind database?

In [4]:
# Use a SQL query to find the answer to the above prompt.
engine.dispose()

sql = """
SELECT COUNT(*)
FROM customers
"""

display(pd.read_sql_query(sql, engine))
engine.dispose()

   count
0     91

**Prompt 1 Answer**: 91

### Prompt 2

If you sort the customers in alphabetical order by name, which customer is fourth?

In [5]:
# Use a SQL query to find the answer to the above prompt.
engine.dispose()

sql = """
SELECT contact_name
FROM customers c
ORDER BY c.contact_name ASC
"""

display(pd.read_sql_query(sql, engine))
engine.dispose()

               contact_name
0          Alejandra Camino
1           Alexander Feuer
2         Anabela Domingues
3              Ana Trujillo
4             André Fonseca
5                 Ann Devon
6            Annette Roulet
7            Antonio Moreno
8                 Aria Cruz
9        Art Braunschweiger
10         Bernardo Batista
11           Carine Schmitt
12          Carlos González
13         Carlos Hernández
14          Catherine Dewey
15       Christina Berglund
16            Daniel Tonini
17               Diego Roel
18        Dominique Perrier
19         Eduardo Saavedra
20          Elizabeth Brown
21        Elizabeth Lincoln
22         Felipe Izquierdo
23          Francisco Chang
24              Fran Wilson
25       Frédérique Citeaux
26              Georg Pipps
27         Giovanni Rovelli
28      Guillermo Fernández
29               Hanna Moos
..                      ...
61          Matti Karttunen
62          Maurizio Moroni
63             Michael Holz
64     Miguel Angel Paolino
65              Palle Ibsen
66            Paolo Accorti
67         Pascale Cartrain
68         Patricia McKenna
69         Patricio Simpson
70            Paula Parente
71             Paula Wilson
72             Paul Henriot
73             Pedro Afonso
74            Peter Franken
75            Philip Cramer
76         Pirkko Koskitalo
77           Renate Messner
78            Rene Phillips
79              Rita Müller
80            Roland Mendel
81         Sergio Gutiérrez
82           Simon Crowther
83             Sven Ottlieb
84             Thomas Hardy
85        Victoria Ashworth
86                Yang Wang
87            Yoshi Latimer
88          Yoshi Tannamuri
89           Yvonne Moncada
90  Zbyszek Piestrzeniewicz

[91 rows x 1 columns]

**Prompt 2 Answer**: 3	Ana Trujillo

### Prompt 3

Among those customers who live in Germany, if you sort the customers in alphabetical order by name, which customer is fourth?

In [6]:
# Use a SQL query to find the answer to the above prompt.

engine.dispose()

sql = """
SELECT contact_name
FROM customers c
WHERE country ILIKE '%%Germany%%'
ORDER BY contact_name ASC
LIMIT 4
"""

display(pd.read_sql_query(sql, engine))
engine.dispose()

          contact_name
0      Alexander Feuer
1           Hanna Moos
2  Henriette Pfalzheim
3          Horst Kloss

**Prompt 3 Answer**: Horst Kloss

### Prompt 4

From the `employees` table, what are the first names of the individuals who have a birthdate in the 1960s?

In [7]:
#Between 
# Use a SQL query to find the answer to the above prompt.
engine.dispose()

sql = """
SELECT first_name
FROM employees
WHERE birth_date BETWEEN '1-1-1960' AND '12-31-1969'
"""

display(pd.read_sql_query(sql, engine))
engine.dispose()

  first_name
0      Janet
1    Michael
2     Robert
3       Anne

**Prompt 4 Answer**: Janet, Michael, Robert and Anne

### Prompt 5

In `order_details` table of the Northwind database, what is the total number of units sold for products 2, 3, and 4? 
> You should give us three numbers - one for each `ProductID`.

In [8]:
# Use a SQL query to find the answer to the above prompt.

engine.dispose()

sql = """
SELECT SUM(quantity)
FROM order_details
WHERE order_details.product_id = 2
"""

display(pd.read_sql_query(sql, engine))
engine.dispose()

engine.dispose()

sql = """
SELECT SUM(quantity)
FROM order_details
WHERE order_details.product_id = 3
"""

display(pd.read_sql_query(sql, engine))
engine.dispose()

engine.dispose()

sql = """
SELECT SUM(quantity)
FROM order_details
WHERE order_details.product_id = 4
"""

display(pd.read_sql_query(sql, engine))
engine.dispose()

    sum
0  1057

   sum
0  328

   sum
0  453

**Prompt 5 Answer**: 1057, 328, 453

### Prompt 6

From the `order_details` table of the Northwind database, calculate the revenue per product. In your SQL output, rename the revenue column `Revenue` and sort your results from largest revenue per product to smallest revenue per product. Which `ProductID` has the fifth-highest revenue, and what is that revenue rounded to the nearest dollar? 
> Note that revenue for a given product should be equal to the total unit price of that product times the quantity. You do not need to worry about the discount here. If you haven't multiplied columns together before, [this StackOverflow question](https://stackoverflow.com/questions/7536996/multiplying-two-columns-in-sql-server/7537059) may be helpful.

In [9]:
# Use a SQL query to find the answer to the above prompt.
engine.dispose()


sql = """
SELECT order_details."product_id", SUM(order_details."quantity" * order_details."unit_price") AS "Revenue"
FROM order_details
GROUP BY order_details."product_id"
ORDER BY "Revenue" DESC
LIMIT 5
"""

display(pd.read_sql_query(sql, engine))
engine.dispose()

   product_id        Revenue
0          38  149984.200821
1          29   87736.400513
2          59   76296.000000
3          60   50286.000374
4          62   49827.899998

**Prompt 6 Answer**: $49,828

### Prompt 7

From the `products` table of the Northwind database, show the `ProductName`, `UnitsInStock`, and `UnitsOnOrder` values for those products who have more units on order than units in stock. Among these results, which product has the most units on order?

In [10]:
sql = """
SELECT p.product_name, p.units_in_stock, p.units_on_order
FROM products as p
WHERE units_on_order > units_in_stock

"""

display(pd.read_sql_query(sql, engine))
engine.dispose()

                 product_name  units_in_stock  units_on_order
0                       Chang              17              40
1               Aniseed Syrup              13              70
2              Queso Cabrales              22              30
3         Sir Rodney's Scones               3              40
4           Gorgonzola Telino               0              70
5          Mascarpone Fabioli               9              40
6                  Gravad lax              11              50
7                 Rogede sild               5              70
8                   Chocolade              15              70
9                    Maxilaku              10              60
10  Wimmers gute Semmelknödel              22              80
11  Louisiana Hot Spiced Okra               4             100
12        Scottish Longbreads               6              10
13              Longlife Tofu               4              20

**Prompt 7 Answer**: Louisiana Hot Spiced Okra

### Prompt 8

engine.dispose()

sql = """From the `order_details` table, show the products that have an average discount of at least 8%. Among these results, which average discount is closest to 8%?

In [12]:
engine.dispose()

sql = """

SELECT order_details."product_id", AVG(order_details."discount") 
FROM order_details
GROUP BY order_details."product_id"
HAVING AVG(order_details."discount") >= .08
ORDER BY AVG(order_details."discount") DESC
"""

display(pd.read_sql_query(sql, engine))
engine.dispose()

   product_id       avg
0          48  0.108333
1           2  0.102273
2           9  0.100000
3          58  0.100000
4          25  0.086111
5          30  0.081250

**Prompt 8 Answer**:  Among all Product IDs, Product ID 30 has the closest Discount to 8%, at .08125.

### Prompt 9

Return the `orders` table, but also include the first name, last name, and country of the employee assigned to each order. What is the first and last name of the employee assigned to `OrderID` 11077? (This is the last row in the data, provided that you do not sort.)

In [ ]:
ORDER BY orderID DESC

In [16]:
# Use a SQL query to find the answer to the above prompt.

sql = """
SELECT orders.*, employees."first_name", employees."last_name", employees."country"
FROM orders
LEFT JOIN employees 
ON orders."employee_id" = employees."employee_id"


"""

pd.read_sql_query(sql, engine)

,order_id,customer_id,employee_id,order_date,required_date,shipped_date,ship_via,freight,ship_name,ship_address,ship_city,ship_region,ship_postal_code,ship_country,first_name,last_name,country
0,10248,VINET,5,1996-07-04,1996-08-01,1996-07-16,3,32.38,Vins et alcools Chevalier,59 rue de l'Abbaye,Reims,None,51100,France,Steven,Buchanan,UK
1,10249,TOMSP,6,1996-07-05,1996-08-16,1996-07-10,1,11.61,Toms Spezialitäten,Luisenstr. 48,Münster,None,44087,Germany,Michael,Suyama,UK
2,10250,HANAR,4,1996-07-08,1996-08-05,1996-07-12,2,65.83,Hanari Carnes,"Rua do Paço, 67",Rio de Janeiro,RJ,05454-876,Brazil,Margaret,Peacock,USA
3,10251,VICTE,3,1996-07-08,1996-08-05,1996-07-15,1,41.34,Victuailles en stock,"2, rue du Commerce",Lyon,None,69004,France,Janet,Leverling,USA
4,10252,SUPRD,4,1996-07-09,1996-08-06,1996-07-11,2,51.30,Suprêmes délices,"Boulevard Tirou, 255",Charleroi,None,B-6000,Belgium,Margaret,Peacock,USA
5,10253,HANAR,3,1996-07-10,1996-07-24,1996-07-16,2,58.17,Hanari Carnes,"Rua do Paço, 67",Rio de Janeiro,RJ,05454-876,Brazil,Janet,Leverling,USA
6,10254,CHOPS,5,1996-07-11,1996-08-08,1996-07-23,2,22.98,Chop-suey Chinese,Hauptstr. 31,Bern,None,3012,Switzerland,Steven,Buchanan,UK
7,10255,RICSU,9,1996-07-12,1996-08-09,1996-07-15,3,148.33,Richter Supermarkt,Starenweg 5,Genève,None,1204,Switzerland,Anne,Dodsworth,UK
8,10256,WELLI,3,1996-07-15,1996-08-12,1996-07-17,2,13.97,Wellington Importadora,"Rua do Mercado, 12",Resende,SP,08737-363,Brazil,Janet,Leverling,USA
9,10257,HILAA,4,1996-07-16,1996-08-13,1996-07-22,3,81.91,HILARION-Abastos,Carrera 22 con Ave. Carlos Soublette #8-35,San Cristóbal,Táchira,5022,Venezuela,Margaret,Peacock,USA
10,10258,ERNSH,1,1996-07-17,1996-08-14,1996-07-23,1,140.51,Ernst Handel,Kirchgasse 6,Graz,None,8010,Austria,Nancy,Davolio,USA
11,10259,CENTC,4,1996-07-18,1996-08-15,1996-07-25,3,3.25,Centro comercial Moctezuma,Sierras de Granada 9993,México D.F.,None,05022,Mexico,Margaret,Peacock,USA
12,10260,OTTIK,4,1996-07-19,1996-08-16,1996-07-29,1,55.09,Ottilies Käseladen,Mehrheimerstr. 369,Köln,None,50739,Germany,Margaret,Peacock,USA
13,10261,QUEDE,4,1996-07-19,1996-08-16,1996-07-30,2,3.05,Que Delícia,"Rua da Panificadora, 12",Rio de Janeiro,RJ,02389-673,Brazil,Margaret,Peacock,USA
14,10262,RATTC,8,1996-07-22,1996-08-19,1996-07-25,3,48.29,Rattlesnake Canyon Grocery,2817 Milton Dr.,Albuquerque,NM,87110,USA,Laura,Callahan,USA
15,10263,ERNSH,9,1996-07-23,1996-08-20,1996-07-31,3,146.06,Ernst Handel,Kirchgasse 6,Graz,None,8010,Austria,Anne,Dodsworth,UK
16,10264,FOLKO,6,1996-07-24,1996-08-21,1996-08-23,3,3.67,Folk och fä HB,Åkergatan 24,Bräcke,None,S-844 67,Sweden,Michael,Suyama,UK
17,10265,BLONP,2,1996-07-25,1996-08-22,1996-08-12,1,55.28,Blondel père et fils,"24, place Kléber",Strasbourg,None,67000,France,Andrew,Fuller,USA
18,10266,WARTH,3,1996-07-26,1996-09-06,1996-07-31,3,25.73,Wartian Herkku,Torikatu 38,Oulu,None,90110,Finland,Janet,Leverling,USA
19,10267,FRANK,4,1996-07-29,1996-08-26,1996-08-06,1,208.58,Frankenversand,Berliner Platz 43,München,None,80805,Germany,Margaret,Peacock,USA
20,10268,GROSR,8,1996-07-30,1996-08-27,1996-08-02,3,66.29,GROSELLA-Restaurante,5ª Ave. Los Palos Grandes,Caracas,DF,1081,Venezuela,Laura,Callahan,USA
21,10269,WHITC,5,1996-07-31,1996-08-14,1996-08-09,1,4.56,White Clover Markets,1029 - 12th Ave. S.,Seattle,WA,98124,USA,Steven,Buchanan,UK
22,10270,WARTH,1,1996-08-01,1996-08-29,1996-08-02,1,136.54,Wartian Herkku,Torikatu 38,Oulu,None,90110,Finland,Nancy,Davolio,USA
23,10271,SPLIR,6,1996-08-01,1996-08-29,1996-08-30,2,4.54,Split Rail Beer & Ale,P.O. Box 555,Lander,WY,82520,USA,Michael,Suyama,UK
24,10272,RATTC,6,1996-08-02,1996-08-30,1996-08-06,2,98.03,Rattlesnake Canyon Grocery,2817 Milton Dr.,Albuquerque,NM,87110,USA,Michael,Suyama,UK
25,10273,QUICK,3,1996-08-05,1996-09-02,1996-08-12,3,76.07,QUICK-Stop,Taucherstraße 10,Cunewalde,None,01307,Germany,Janet,Leverling,USA
26,10274,VINET,6,1996-08-06,1996-09-03,1996-08-16,1,6.01,Vins et alcools Chevalier,59 rue de l'Abbaye,Reims,None,51100,France,Michael,Suyama,UK
27,10275,MAGAA,1,1996-08-07,1996-09-04,1996-08-09,1,26.93,Magazzini Alimentari Riuniti,Via Ludovico il Moro 22,Bergamo,None,24100,Italy,Nancy,Davolio,USA
28,10276,TORTU,8,1996-08-08,1996-08-22,1996-08-14,3,13.84,Tortuga Restaurante,Avda. Azteca 123,México D.F.,None,05033,Mexico,Laura,Callahan,USA
29,10277,MORGK,2,1996-08-09,1996-09-06,1996-08-13,3,125.77,Morgenstern Gesundkost,Heerstr. 22,Leipzig,None,04179,Germany,Andrew,Fuller,USA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
800,11048,BOTTM,7,1998-04-24,1998-05-22,1998-04-30,3,24.12,Bottom-Dollar Markets,23 Tsawassen Blvd.,Tsawassen,BC,T2F 8M4,Canada,Robert,King,UK
801,11049,GOURL,3,1998-04-24,1998-05-22,1998-05-04,1,8.34,Gourmet Lanchonetes,"Av. Brasil, 442",Campinas,SP,04876-786,Brazil,Janet,Leverling,USA
802,11050,FOLKO,8,1998-04-27,1998-05-25,1998-05-05,2,59.41,Folk och fä HB,Åkergatan 24,Bräcke,None,S-844 67,Sweden,Laura,Callahan,USA
803,11051,LAMAI,7,1998-04-27,1998-05-25,None,3,2.79,La maison d'Asie,1 rue Alsace-Lorraine,Toulouse,None,31000,France,Robert,King,UK
804,11052,HANAR,3,1998-04-27,1998-05-25,1998-05-01,1,67.26,Hanari Carnes,"Rua do Paço, 67",Rio de Janeiro,RJ,05454-876,Brazil,Janet,Leverling,USA
805,11053,PICCO,2,1998-04-27,1998-05-25,1998-04-29,2,53.05,Piccolo und mehr,Geislweg 14,Salzburg,None,5020,Austria,Andrew,Fuller,USA
806,11054,CACTU,8,1998-04-28,1998-05-26,None,1,0.33,Cactus Comidas para llevar,Cerrito 333,Buenos Aires,None,1010,Argentina,Laura,Callahan,USA
807,11055,HILAA,7,1998-04-28,1998-05-26,1998-05-05,2,120.92,HILARION-Abastos,Carrera 22 con Ave. Carlos Soublette #8-35,San Cristóbal,Táchira,5022,Venezuela,Robert,King,UK
808,11056,EASTC,8,1998-04-28,1998-05-12,1998-05-01,2,278.96,Eastern Connection,35 King George,London,None,WX3 6FW,UK,Laura,Callahan,USA
809,11057,NORTS,3,1998-04-29,1998-05-27,1998-05-01,3,4.13,North/South,South House 300 Queensbridge,London,None,SW7 1RZ,UK,Janet,Leverling,USA
810,11058,BLAUS,9,1998-04-29,1998-05-27,None,3,31.14,Blauer See Delikatessen,Forsterstr. 57,Mannheim,None,68306,Germany,Anne,Dodsworth,UK
811,11059,RICAR,2,1998-04-29,1998-06-10,None,2,85.80,Ricardo Adocicados,"Av. Copacabana, 267",Rio de Janeiro,RJ,02389-890,Brazil,Andrew,Fuller,USA
812,11060,FRANS,2,1998-04-30,1998-05-28,1998-05-04,2,10.98,Franchi S.p.A.,Via Monte Bianco 34,Torino,None,10100,Italy,Andrew,Fuller,USA
813,11061,GREAL,4,1998-04-30,1998-06-11,None,3,14.01,Great Lakes Food Market,2732 Baker Blvd.,Eugene,OR,97403,USA,Margaret,Peacock,USA
814,11062,REGGC,4,1998-04-30,1998-05-28,None,2,29.93,Reggiani Caseifici,Strada Provinciale 124,Reggio Emilia,None,42100,Italy,Margaret,Peacock,USA
815,11063,HUNGO,3,1998-04-30,1998-05-28,1998-05-06,2,81.73,Hungry Owl All-Night Grocers,8 Johnstown Road,Cork,Co. Cork,None,Ireland,Janet,Leverling,USA
816,11064,SAVEA,1,1998-05-01,1998-05-29,1998-05-04,1,30.09,Save-a-lot Markets,187 Suffolk Ln.,Boise,ID,83720,USA,Nancy,Davolio,USA
817,11065,LILAS,8,1998-05-01,1998-05-29,None,1,12.91,LILA-Supermercado,Carrera 52 con Ave. Bolívar #65-98 Llano Largo,Barquisimeto,Lara,3508,Venezuela,Laura,Callahan,USA
818,11066,WHITC,7,1998-05-01,1998-05-29,1998-05-04,2,44.72,White Clover Markets,1029 - 12th Ave. S.,Seattle,WA,98124,USA,Robert,King,UK
819,11067,DRACD,1,1998-05-04,1998-05-18,1998-05-06,2,7.98,Drachenblut Delikatessen,Walserweg 21,Aachen,None,52066,Germany,Nancy,Davolio,USA
820,11068,QUEEN,8,1998-05-04,1998-06-01,None,2,81.75,Queen Cozinha,"Alameda dos Canàrios, 891",Sao Paulo,SP,05487-020,Brazil,Laura,Callahan,USA
821,11069,TORTU,1,1998-05-04,1998-06-01,1998-05-06,2,15.67,Tortuga Restaurante,Avda. Azteca 123,México D.F.,None,05033,Mexico,Nancy,Davolio,USA
822,11070,LEHMS,2,1998-05-05,1998-06-02,None,1,136.00,Lehmanns Marktstand,Magazinweg 7,Frankfurt a.M.,None,60528,Germany,Andrew,Fuller,USA
823,11071,LILAS,1,1998-05-05,1998-06-02,None,1,0.93,LILA-Supermercado,Carrera 52 con Ave. Bolívar #65-98 Llano Largo,Barquisimeto,Lara,3508,Venezuela,Nancy,Davolio,USA
824,11072,ERNSH,4,1998-05-05,1998-06-02,None,2,258.64,Ernst Handel,Kirchgasse 6,Graz,None,8010,Austria,Margaret,Peacock,USA
825,11073,PERIC,2,1998-05-05,1998-06-02,None,2,24.95,Pericles Comidas clásicas,Calle Dr. Jorge Cash 321,México D.F.,None,05033,Mexico,Andrew,Fuller,USA
826,11074,SIMOB,7,1998-05-06,1998-06-03,None,2,18.44,Simons bistro,Vinbæltet 34,Kobenhavn,None,1734,Denmark,Robert,King,UK
827,11075,RICSU,8,1998-05-06,1998-06-03,None,2,6.19,Richter Supermarkt,Starenweg 5,Genève,None,1204,Switzerland,Laura,Callahan,USA
828,11076,BONAP,4,1998-05-06,1998-06-03,None,2,38.28,Bon app',"12, rue des Bouchers",Marseille,None,13008,France,Margaret,Peacock,USA
829,11077,RATTC,1,1998-05-06,1998-06-03,None,2,8.53,Rattlesnake Canyon Grocery,2817 Milton Dr.,Albuquerque,NM,87110,USA,Nancy,Davolio,USA

**Prompt 9 Answer**: The Employee is Nancy	Davolio

### Prompt 10

Find the average amount of freight across all orders, broken out by country of *employee*. (**NOT `ShipCountry`**.) How much higher is the average freight from UK employees than the average freight from US employees?

> For a bonus, round the freight to the nearest whole number and rename the column `Average Freight`.

In [21]:
# Use a SQL query to find the answer to the above prompt.

sql = """
SELECT employees."country", AVG(orders."freight") AS "Average Freight"
FROM orders
LEFT JOIN employees
ON orders."employee_id" = employees."employee_id"
GROUP BY employees."country"

"""

pd.read_sql_query(sql, engine)

  country  Average Freight
0      UK        78.977143
1     USA        77.973284

**Prompt 10 Answer**: